<div class="grid_12">
	<div id="Home" class= "light-bg round-corners shadow">		
		<%= render 'shared/controlbar' %>		
		<div class="grid_5 round-corners" id="home-foods" onclick = "window.location.href = '<%= show_foods_path %>'">
		</div>
		<div class="grid_5 round-corners" id="home-meals" onclick = "window.location.href = '<%= show_meals_path %>'">
		</div>		
		<div class="clear"></div>		
		<div class="grid_5 round-corners" id="home-symptons" onclick = "window.location.href = '<%= show_symptons_path  %>'">
		</div>		
		<div class="grid_5 round-corners" id="home-medicines" onclick = "window.location.href = '<%= show_medicines_path %>'">
		</div>		
		<div class="clear"></div>
	</div>
</div>