<div class="grid_12">
	<div id="Home" class= "light-bg round-corners shadow">		
		<div id="home-other" class="grid_4 prefix_8">
			<%= @current_user.username if @current_user %>
			<%= link_to "logout", logout_path %>
		</div>
		<div class="clear"></div>		
		<div class="grid_5 round-corners shadow" id="home-foods" onclick = "window.location.href = '<%= show_foods_path %>'">
			<h1>Foods</h1>	
		</div>
		<div class="grid_5 round-corners shadow" id="home-medicines" onclick = "window.location.href = '<%= show_medicines_path %>'">
			<h1>Medicines</h1>	
		</div>		
		<div class="clear"></div>		
		<div class="grid_5 round-corners shadow" id="home-symptons" onclick = "window.location.href = '<%= show_symptons_path  %>'">
				<h1>Symptons</h1>	
		</div>		
		<div class="grid_5 round-corners shadow" id="home-meals" onclick = "window.location.href = '<%= show_meals_path %>'">
			<h1>Meals</h1>	
		</div>		
		<div class="clear"></div>
	</div>
</div>