<%= javascript_include_tag params[:controller] %>

<div class="grid_12">
	<div id="Home" class= "light-bg round-corners shadow">		
		<%= render 'shared/controlbar' %>		
		<div class="grid_5 round-corners" id="home-foods" onclick = "window.location.href = '<%= show_foods_path %>'">
		</div>
		<div class="grid_5 round-corners" id="home-meals" onclick = "window.location.href = '<%= show_meals_path %>'">
		</div>		
		<div class="clear"></div>		
		<div class="grid_5 round-corners" id="home-symptons" onclick = "window.location.href = '<%= show_symptons_path  %>'">
		</div>		
		<div class="grid_5 round-corners" id="home-medicines" onclick = "window.location.href = '<%= show_medicines_path %>'">
		</div>		
		<div class="clear"></div><br />
		
		<h1>Dashboard</h1>	
		<!-- Food usage	 -->
		<div class="grid_11">
	    	<div id="foodsUsage_Chart" style="width: 800px; height: 400px;"></div>
		</div>
		<div class="clear"></div>
		<!-- Filtro per quantità -->
		<div class="grid_2"><input type="text" id="foodUsageQuantity" placeholder="min. quantity"/></div>
		<div class="clear"></div><br />
		<!-- Symponts and medicines -->
		<div class="grid_11">
	    	<div id="SymptonsMedicinesRelations" style="width: 800px; height: 400px;"></div>
		</div>
		<div class="clear"></div><br />
		<div id="SymptonsMedicinesRelationsFilter">
			<div class="grid_2"><input id="Chart_Meals" type="checkbox"> Meals</div>
			<div class="grid_2"><input id="Chart_Symps" type="checkbox"> Symps</div>
			<div class="grid_2"><input id="Chart_Shits" type="checkbox"> Shits</div>
			<div class="grid_2"><input id="Chart_Meds"  type="checkbox"> Meds </div>
			<div class="grid_2"><input id="Chart_Temps" type="checkbox"> Temps</div>
		</div>
		<div class="clear"></div><br />
				
	</div>
</div>