<% @page_title = "BlacksCorner | Edit meal" %>
<%= render 'shared/errors', :object => @meal %>
<div class= "Edit meal">
	<h1>Sign Up</h1>
	<%= form_for(@meal) do |m| %>
		<p> Climate:</br> 
		<%= m.text_field :climate %> </p>
		<p> Temperature:</br> 
		<%= m.number_field :temperature %> </p>
		<p> Consumed:</br> 
		<%= m.date_select :consumed %> </p>
		<p> Type:</br> 
		<%= m.select :meal_type, %w[Breakfast Brunch Lunch Snack Dinner Night Other]%> </p>
		<p> Feci:</br> 
		<%= m.select :feci, %w[Nothing Solid Average Liquid Diarrea]%> </p>
				
		<p>Foods <br/>
		<% Food.order(:description).each do |f| %>	
			<%= check_box_tag("foods[#{f.id}]", value = "1", 
				checked = (Meal.find(params[:id]).food_ids.include? f.id)) %>
			<%= f.description %>
		<% end %></p>
		
		<p>Medicine <br/>
		<% Medicine.order(:description).each do |f| %>	
			<%= check_box_tag("medicines[#{f.id}]", value = "1",
			checked = (Meal.find(params[:id]).medicine_ids.include? f.id)) %>
			<%= f.description %>
		<% end %></p>
		
		<p>Symptoms <br/>
		<% Sympton.order(:description).each do |f| %>	
			<%= check_box_tag("symptons[#{f.id}]", value = "1",
			checked = (Meal.find(params[:id]).sympton_ids.include? f.id)) %>
			<%= f.description %>
		<% end %></p>
		
		<%= m.submit :Update %>
	<% end %>
</div>