<% @page_title = "BlacksCorner | New meal" %>
<div class= "Add meal">
	<h1>Sign Up</h1>
	<%= form_for(:meal, :url => {:controller => 'meals', :action => 'create'}) do |m| %>
		<p> Climate:</br> 
		<%= m.text_field :climate %> </p>
		<p> Temperature:</br> 
		<%= m.number_field :temperature %> </p>
		<p> Consumed:</br> 
		<%= m.date_select :consumed %> </p>
		<p> Type:</br> 
		<%= m.select :meal_type, %w[Breakfast Brunch Lunch Snack Dinner Night Other]%> </p>
				
		<p>Foods <br/>
		<% Food.order(:description).each do |f| %>	
			<%= check_box :foods, f.id %><%= f.description %>
		<% end %></p>
		
		<p>Medicine <br/>
		<% Medicine.order(:description).each do |f| %>	
			<%= check_box :medicines, f.id %><%= f.description %>
		<% end %></p>
		
		<p>Symptoms <br/>
		<% Sympton.order(:description).each do |f| %>	
			<%= check_box :symptons, f.id %><%= f.description %>
		<% end %></p>
		
		<%= m.submit :Add %>
	<% end %>

	<% if @meal.errors.any? %>
		<ul class="Meals_Errors">
			<% for message_error in @meal.errors.full_messages %>
				<li>* <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
</div> 