<%= javascript_include_tag params[:controller] %>

<div class="grid_12">
	<div id="Food" class= "light-bg round-corners shadow">
		<%= render 'shared/controlbar' %>		
		
		<h1>Foods usage</h1>		
		<div class="grid_11">
	    	<div id="chart_div" style="width: 800px; height: 400px;"></div>
		</div>
		<div class="clear"></div>
		<!-- Filtro per quantità -->
		<div class="grid_3"><input type="text" id="foodUsageQuantity" placeholder="min. quantity"/></div>
		<div class="grid_3"><a id="FilterPieChart" href="#">Filter chart</a></div>
		
		<br /><br /><br />
		<div class="clear"></div>
		<h1>Foods list</h1>
		<% if !@foods.nil? %>
			<% i = 0 %>
			<% @foods.each do |f| %>
				<div class="food grid_3">
					<%= f.description %>
					<%= link_to "destroy", delete_food_path(:id => f.id) %>
				</div>
				<% i += 1 %>
				<% if i == 3 %>
					<% i = 0 %>
					<div class="clear"></div>
				<% end %>
			<% end %>
		<% end %>
		
		<div class="clear"></div><br /><br />
		<%= link_to "Add food", add_food_path %>
	</div>
</div>